* {
    box-sizing: border-box;
  }

*
{
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    
}

body, html{
    width: 100%;
    overflow-x: hidden;
}


h1{
    font-size: 16px;
    padding-left: 15px;
}

h2{
    padding-left: 15px;
    font-size:14px;
    font-weight: bold;
}

h3{
    font-size:12px;
    font-weight: bold;
}

h4{
    font-size:14px;
}

p{
    font-size: 12px;
}
.bleu{
    color:#0065FC;
}

.gris{
    color:#F2F2F2;
}

body
{
    margin: 0;
}
/* presentation de l'espace de navigation*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

nav img{
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin: 0 10px 0 20px;
}

li a
{
    text-decoration: none;
    
     
}


li a:hover
{

    padding: 8px;
    padding-top: 30px;
    border-top:solid #0065FC;
    color:#0065FC
 
}

.lien_active
{
    padding: 8px;
    padding-top: 30px;
    border-top:solid #0065FC;
    color:#0065FC
}

#centre_ville
{
    padding-left: 15px;
}


/* main*/
/*presentation de l espace recherche*/
#formulaire label,input,button
{
    display: block;
}

#formulaire
{
    position: relative;
    width: 700px;
    height: 80px;
    margin-left: 15px;
    
    
}



#formulaire label
{
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    
}
#formulaire input
{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 200px;
    height: 40px;
    
}


#formulaire input::placeholder {
    color: black;
  }

#formulaire button
{
    position: absolute;
    top: 20px;
    left: 240px;
    width: 154px;
    height: 40px;
   
}


.btn-color
{
    background-color:#0065FC;
    color:white;
    height: 48px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;

}

#rechercher
{
    font-weight: bold;
}

.btn-color #loupe
{
    display:none;
}


.btn-color:hover
{
    background-color:#0d336d;
    cursor: pointer;

}

.in-color
{
    background-color:white;
    font-weight:bold;
    border:solid #F2F2F2;

}
.lb-color
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:white;
    font-weight:bold;
    background-color:#F2F2F2;
    border:solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px  ;


}



/*presentation de lespace filtre*/
#filtre
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

#filtre h2
{
    padding-top:20px ;
}

.filtre_prime
{
    display: flex;
    flex-wrap: wrap;  
}

.span_up
{
    background-color:#DEEBFF ;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}

#info_statement
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    margin-left: 15px;

}

#info_statement .span_up_two
{
    background-color:white ;
    border:solid 0.5px gray;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    
}


.btn_filter
{
    display: flex;
    flex-wrap: nowrap;
    border:solid;
    border-radius: 50px;
    margin-top: 8px;
    height:50px;
    width: 190px;
    border-color:#F2F2F2;
    margin-left:20px;
    padding-bottom: 55px;
}

.btn_filter:hover
{
    border-color:black;
    background: cornflowerblue;
}

.filt_txt
{
    padding-top: 20px;
    font-weight: bold;
}

.bleu_clair
{
    background-color:blue;

}

#txt_fin
{
    padding-left: 15px;
}

#parag
{
    margin-bottom: 25px;
}

/*conteneur de l'espace hebergement et les plus populaire*/

#container_ichi
{
    display: flex;
    flex-wrap: nowrap;
    padding-right: 20px;
}

/*hebergement colonne 1*/

#hebergement
{
    background: #F2F2F2;
    width:66%;
    margin-right: 25px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 15px;
}


#hebergement .row
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


#aff_p_to_block
{
    display: block;
}

#aff_plus
{
    padding-top: 30px;
}


#lespluspopulaires
{
    padding-left: 20px;
    background: #F2F2F2;
    width:33%;
    border-radius: 15px;
}
.cardi
{
    background-color: white;
    border-radius: 15px;
}
#hebergement .cardi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    margin: 10px;
    border:solid white 5px;
  }

  .lien_hotel{
      text-decoration: none;
      color:black
  }

  a.lien_hotel:hover
  {
    color:blue;  
    }
/*colonne les plus populaire */

#titre_col2
{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
}



  #lespluspopulaires .cardi {
    display: flex;
    flex-direction:  row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 40px;
    border:solid white 5px;

  }
  

  
  .containeri {
    padding: 2px 16px;

    
  }

  .containeri_adjustmarge{
      padding-top: 5px;
  }
  
  #hebergement .containeri h4,p
  {
    margin:0;
    padding:0;
    padding-bottom: 5px;
  }

  #hebergement .containeri 
  {
    margin-top:2%;


  }

.imgcadre{
    width: 100%;
    border: white solid 1px;
}


  #hebergement .cardi img
  {
          
      width:110%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border:solid white 2px;
      
  }

  #lespluspopulaires .cardi img
  {
          
    width:40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
 
      
  }

  .dim_img
  {
    width:100%; 
    height:150px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden;
    position:relative;   
  }

  .dim_img img
  {
    width: 150%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #img_ichi
  {
    top: 1%;
    
  }

  #img_san
  {
    top: 1%;
    
  }


  #img_ni img
  {
      height: 150%;
  }
  
  #lespluspopulaires .containeri
  {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .remove_marg
  {
      margin: 0;
      padding: 0;
  }

  .remove_marg h4,p
  {
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
  }




/*Activité*/
#activite h1
{
    padding-top: 50px;
    padding-left: 25px;
}


#activite h4
{
    font-size: 14px;
}


#activite .row
{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


#activite .row .col_activite
{
    width: 25%;
    height: 525px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
}

.type_space
{
    justify-content: space-between;
}

#activite .row .col_activite .cardi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    
  }


 .longue_card {
    height: 100%;
  }
  
  #activite .row .col_activite .cardi img
  {
      
      width:100%;
      
  }

 .dim_img--bigger
  {
      height:90%;
      
  }

  .img_big
  {
    height: 100%;
    object-fit: cover;
  }


  /*Footer*/
  footer
{
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;
    background-color: #F2F2F2;
    

}

.foot_space
{
    
    width: 27.5%;
    margin-right: 25px;
    margin-left: 20px;
}

footer ul
{
    
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

footer ul li
{
    padding: 0;
    padding-top: 15px;
    font-size: 14px;

}

#foot_pol h3
{
    font-size: 14px;
}
