* {
    box-sizing: border-box;
  }

*
{
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    
}

h1{
    font-size: 16px;
    padding-left: 15px;
}

h2{
    padding-left: 15px;
    font-size:14px;
    font-weight: bold;
}

h3{
    font-size:12px;
    font-weight: bold;
}

p{
    font-size: 12px;
}
.bleu{
    color:#0065FC;
}

.gris{
    color:#F2F2F2;
}

body
{
    margin: 0;
}
/* presentation de l'espace de navigation*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

nav img{
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin: 0 10px 0 20px;
}

li a
{
    text-decoration: none;
     
}


li a:hover
{

    padding: 8px;
    padding-top: 30px;
    border-top:solid #0065FC;
    color:#0065FC
 
}

.lien_active
{
    padding: 8px;
    padding-top: 30px;
    border-top:solid #0065FC;
    color:#0065FC
}

/* main*/
/*presentation de l espace recherche*/
#formulaire label,input,button
{
    display: block;
}

#formulaire
{
    position: relative;
    width: 700px;
    height: 80px;
    margin-left: 15px;
    
    
}



#formulaire label
{
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    
}
#formulaire input
{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 200px;
    height: 40px;
    
}


#formulaire input::placeholder {
    color: black;
  }

#formulaire button
{
    position: absolute;
    top: 20px;
    left: 240px;
    width: 154px;
    height: 40px;
   
}


.btn-color
{
    background-color:#0065FC;
    color:white;
    height: 48px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;

}

.btn-color #loupe
{
    display:none;
}


.btn-color:hover
{
    background-color:#0d336d;
    cursor: pointer;

}

.in-color
{
    background-color:white;
    font-weight:bold;
    border:solid #F2F2F2;

}
.lb-color
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:white;
    font-weight:bold;
    background-color:#F2F2F2;
    border:solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px  ;


}



/*presentation de lespace filtre*/
#filtre
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

#filtre h2
{
    padding-top:20px ;
}

.filtre_prime
{
    display: flex;
    flex-wrap: wrap;  
}

.span_up
{
    background-color:#DEEBFF ;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}

.btn_filter
{
    display: flex;
    flex-wrap: nowrap;
    border:solid;
    border-radius: 50px;
    margin-top: 8px;
    height:50px;
    width: 190px;
    border-color:#F2F2F2;
    margin-left:20px;
    padding-bottom: 55px;
}

.filt_txt
{
    padding-top: 20px;
    font-weight: bold;
}

.bleu_clair
{
    background-color:blue;

}

#txt_fin
{
    padding-left: 15px;
}

/*conteneur de l'espace hebergement et les plus populaire*/

#container_ichi
{
    display: flex;
    flex-wrap: nowrap;
}

/*hebergement colonne 1*/

#hebergement
{
    background: #F2F2F2;
    width:66%;
    margin-right: 25px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 15px;
}


#hebergement .row
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


#aff_plus
{
    padding-top: 30px;
}


#lespluspopulaires
{
    padding-left: 10px;
    background: #F2F2F2;
    width:33%;
    border-radius: 15px;
}
.cardi
{
    background-color: white;
    border-radius: 15px;
}
#hebergement .cardi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 10px;
    border:solid white 2px;
  }

  .lien_hotel{
      text-decoration: none;
      color:black
  }

  a.lien_hotel:hover
  {
    color:blue;  
    }
/*colonne les plus populaire */

#titre_col2
{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
}
  #lespluspopulaires .cardi {
    display: flex;
    flex-direction:  row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
    border:solid white 2px;

  }
  

  
  .containeri {
    padding: 2px 16px;
    
  }
  
  #hebergement .containeri h4,p
  {
    margin:0;
    padding:0;
    padding-bottom: 5px;
  }

  #hebergement .cardi img
  {
          
      width:100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border:solid white 2px;
      
  }

  #lespluspopulaires .cardi img
  {
          
    width:40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
 
      
  }

  .dim_img
  {
    width:100%; 
    height:150px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden;
    position:relative;   
  }

  .dim_img img
  {
    width: 150%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #lespluspopulaires .containeri
  {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }



/*Activité*/
#activite h1
{
    padding-top: 50px;
    padding-left: 25px;
}


#activite h4
{
    font-size: 14px;
}

#activite .row
{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


#activite .row .col_activite
{
    width: 25%;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
}

.type_space
{
    justify-content: space-between;
}

#activite .row .col_activite .cardi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    
  }


 .longue_card {
    height: 100%;
  }
  
  #activite .row .col_activite .cardi img
  {
      
      width:100%;
      
  }

 .dim_img--bigger
  {
      height:90%;
      
  }

  .img_big
  {
    height: 100%;
    object-fit: cover;
  }

  /*Footer*/
  footer
{
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;
    background-color: #F2F2F2;
    

}

.foot_space
{
    margin-right: 90px;
    margin-left: 20px;
}

footer ul
{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

footer ul li
{
    padding: 0;
    padding-top: 15px;
    font-size: 14px;

}

#foot_pol h3
{
    font-size: 14px;
}

@media screen and (max-width: 992px) 
{
    #container_ichi
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


#hebergement
{

    width:90%;
  
}

#lespluspopulaires
{
    margin-top: 20px;
    width:90%;
}

#filtre
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

}

@media screen and (max-width:768px) 
{

    #formulaire
{
    width: 400px;

    
    
}

    nav img{
        display: block;
    }
    nav ul{
        display: block;
    }



    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }


    nav ul
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
        margin-left:0 ;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;

    }

    nav ul li{
        padding-bottom: 15px;
        margin-left:0 ;
        margin-right: 0;
        border-bottom:solid #F2F2F2;
        padding-left: 20px;
        padding-right: 20px;
        
    }


    li a:hover
{

    border-top: none;
    border-bottom:solid #0065FC;
    padding-bottom: 15px;
    color:#0065FC
 
}

.lien_active
{
    border-top: none;
    padding: 0px;
    padding-bottom: 15px;
    border-bottom:solid #0065FC;
    color:#0065FC
}

#hebergement
{
    margin: 10px;
}

#hebergement .row
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#activite .row
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   
#activite .cardi
{
    margin-bottom: 50px;
}

#activite .row .col_activite
{
    width: 90%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
}

.longue_card{
        height: 180px;
}

.dim_img--bigger
{
    height:75%;
    
}

.img_big
{
  height: 100%;
  object-fit: cover;
}

footer
{
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #F2F2F2;
    

}

}